<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MusicFlow</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>
<body>
<header>
    <div class="logo">MusicFlow</div>
    {% if header_type %}
    <!-- Контент для валидной сессии -->
    <nav>
        <a href="/" class="nav-link active">Главная</a>
        <a href="/profil" class="nav-link">Профиль</a>
        <a href="/upload" class="nav-link">Загрузить</a>
    </nav>
    {% else %}
    <!-- Контент для невалидной/гостевой сессии -->
    <nav>
        <a href="/" class="nav-link active">Главная</a>
        <a href="/login" class="nav-link">Войти</a>
        <a href="/register" class="nav-link">Создать</a>
    </nav>
    {% endif %}
</header>

<div class="container">
    <div class="search-hero">
        <div class="search-container">
            <input type="text"
                   class="search-input"
                   placeholder="Искать треки, альбомы, исполнителей..."
                   id="searchInput">
            <button class="search-btn" style="padding-left: 0.5em;background: rgb(24, 24, 24);">
                <i class="fas fa-search"></i>
            </button>
            <div class="search-border"></div>
        </div>

        <!-- Фильтры -->
        <div class="filters-container">
            <button class="filter-pill active" style="color: white" onclick="radio_filter_activ(this)">Все</button>
            <button class="filter-pill" style="color: white" onclick="radio_filter_activ(this)">Треки</button>
            <button class="filter-pill" style="color: white" onclick="radio_filter_activ(this)">Альбомы</button>
            <button class="filter-pill" style="color: white" onclick="radio_filter_activ(this)">Исполнители</button>

            </button>
        </div>
    </div>
    <h2 class="form-title">Рекомендуемые треки</h2>
    <div class="song-grid" id="catolog">
    </div>
    <br>
    <div style="text-align: center;margin-top: 0.25em" id="88">
        <div class="inline-loader">
            <span>Загрузка</span>
            <div class="loader-dots">
                <div class="loader-dot"></div>
                <div class="loader-dot"></div>
                <div class="loader-dot"></div>
            </div>
        </div>
    </div>

</div>
<br>
<br>
<br>
<div id="player"></div>
<div class="playlist-modal" id="playlistModal">
    <div class="modal-content">
        <div class="modal-header">
            <h3 id="name_playlist">Плейлист КИНО - звезда по имене солнце</h3>
            <span class="close-modal">&times;</span>
        </div>
        <div class="track-list" id="playlist_list">
        </div>
    </div>
</div>
<script>
    function kk(){
    document.querySelectorAll('.track-item').forEach(item => {
        item.addEventListener('click', function () {
            let old_this = this.classList.length === 1;
            document.querySelectorAll('.track-item').forEach(i => i.classList.remove('active'));
            if (old_this) {
                this.classList.add('active');
                newMusic(this.getElementsByTagName('img')[0].src.split('/')[5]);
                old_this = this.getElementsByClassName('track-duration')[0].innerText.split(':')
                player_bar(this.getElementsByClassName('track-artist')[0].innerText, this.getElementsByClassName('track-title')[0].innerText, Number(old_this[0]*60)+Number(old_this[1]));
            } else {
                this.classList.remove('active');
                mpause(document.getElementById('butp'))
            }

            // Здесь вызовите функцию воспроизведения трека
        });
    });
    }
</script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script>
    let url = document.location['origin'] + '/api/music';
    let data_http = {
        "page": {"start": 1, "end": 12},
        "durationSec": {"min": 0, "max": -1},
        "tag": [],
        "search": "",
        "sorted": ""
    };
    up_catolog(url, data_http);
    window.addEventListener('scroll', update_load_music);
</script>
<script>
    // Открытие/закрытие модального окна
    function togglePlaylistModal() {
        const modal = document.getElementById('playlistModal');
        modal.style.display = modal.style.display === 'block' ? 'none' : 'block';
    }

    // Закрытие по клику вне окна
    window.onclick = function (event) {
        const modal = document.getElementById('playlistModal');
        if (event.target === modal) {
            modal.style.display = 'none';
        }
    }

    // Закрытие по кнопке
    document.querySelector('.close-modal').addEventListener('click', togglePlaylistModal);

    // Выбор трека
    kk()
</script>
</body>
</html>