<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MusicFlow - Главная</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div class="logo">MusicFlow</div>
    <nav>
        <a href="/" class="nav-link">Главная</a>
        <a href="/login" class="nav-link active">Войти</a>
        <a href="/register" class="nav-link">Создать</a>
    </nav>
</header>

<div class="auth-container">
    <h2 class="form-title">Авторизация</h2>
    <div>
        <div class="form-group">
            <input type="text" required
                   oninvalid="this.setCustomValidity(' ')"
                   oninput="this.setCustomValidity('')"
                   id="login">
            <label>Имя пользователя</label>
        </div>
        <div class="form-group">
            <input type="password" required
                   oninvalid="this.setCustomValidity(' ')"
                   oninput="this.setCustomValidity('')"
                   id="password">
            <label>Пароль</label>
        </div>
        <button class="btn" style="width: 16em; height: auto" onclick="login_user()">Авторизаваца</button>
        <p style="margin-top: 1rem;">Нет аккаунта? <a href="/register" class="nav-link">Создать</a></p>
    </div>
</div>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script>
    function login_user() {
        let url = document.location['origin'] + '/api/login';
        let ui = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify({
                'login': document.getElementById('login').value,
                'password': document.getElementById('password').value
            })
        };

        function iu(data) {
            document.cookie = 'session=' + data['cookie']
            window.open('/profil', '_self');
        }
        console.log(ui)
        if (ui['body'] != "{\"login\":\"\",\"password\":\"\"}"){
        fetch(url, ui)
            .then((response) => response.json())
            .then((data) => {
                    iu(data['result'])
                }
            );
            }
    }
</script>
</body>
</html>